@import 'color.css';
@import 'fonts.css';

:root{
    --font-logo: "Jost", sans-serif;
}
a{
    text-decoration: none;
}
button{
    border: none;
}
.green{
    color: var(--color-green);
}
.orange{
    color: var(--color-orange);
}
.white{
    border-color: var(--color-white);
}
body{
    background: var(--color-black);
    overflow-y: hidden;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.back-img1{
    position: absolute;
    left: 0;
    top: 0;
}
.back-img2{
    position: absolute;
    right: 0;
    bottom: 0;
}

.back-svg1{
    position: absolute;
    right: 0px;
    top: 0px;
}
.back-svg2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.header-logo-img{
    width: 49px;
    height: 49px;
    position: relative;
    bottom: 15px;
}
.header-logo-name{
    font-family: var(--font-logo);
    font-size: 48px;
}
header{
    padding: 25px;
    width: 100%;
    height: 128px;
    border-radius: 0 0 20px 20px;
    background-color: var(--color-white);
}

.header-button{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 16px;
color: var(--color-white);
background-color: var(--color-orange);
width: 152px;
height: 48px;
border-radius: 40px;
text-align: center;
padding: 10px;
margin-right: 44px;
}
.hb2{
    width: 209px;
}
.header-auto{
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: end;
}

.container-text{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 40px;
text-align: center;
color: #fff;
text-align: center;
margin-bottom: 40px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-text-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 64px;
line-height: 114%;
text-align: center;
color: #fdfdfd;
text-align: center;
margin: auto;
width: 770px;
margin-bottom: 20px;
margin-top: 150px;
}

.container-button{
    border-radius: 43px;
width: 324px;
height: 95px;
background: var(--color-green);
text-align: center;
padding-top: 0px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #222;
}
.container-button-a{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header-auto-download{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #222;

border-radius: 43px;
width: 281px;
height: 54px;
background-color: var(--color-green);
text-align: center;
padding-top: 0px;
}


/* register */

.container2{
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: #fff;
display: flex;
justify-content: start;
padding: 10vh 0 0 0;
}

.container2-reg{
    padding: 28px;
    width: 100vh;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container2-reg-input{
    margin: 12px auto;
    border: 2px solid #000;
border-radius: 43px;
width: 428px;
height: 74px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #000;
}

.container2-reg-glav{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 48px;
color: #222;

}

.container2-reg-button{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
background-color: var(--color-orange);
border-radius: 43px;
width: 337px;
height: 74px;

text-align: center;
padding: 15px;
margin: 0 auto;


}

.container2-info{
    width: 80vh;
    height: 100vh;
    padding: 28px;
}

.container2-info-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 55px;
color: #222;

}

.container2-info-text{
    font-family: var(--font-logo);
font-weight: 400;
font-size: 24px;
color: #000;
}

.container2-info-img{
    position: relative;
    bottom: 150px;
}


.container2-reg-text-reg{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 16px;
text-align: center;
color: #222;
}



.container2-reg-forgepass{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 16px;
text-align: center;
color: var(--color-green);

}


/* container 3     blank*/

.container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 5vh;
}

.container3-input{
    margin: 2vh auto;
    border: 2px solid #000;
border-radius: 43px;
width: 567px;
height: 74px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #000;

}

.container3-gender{
    border: 2px solid #000;
border-radius: 0;
width: 169px;
height: 44px;
margin: 0 20px;
}
.container3-gender-text1{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
position: relative;
right: 90px;
}
.container3-gender-text2{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
left: 90px;
position: relative;
}

.container3-div2-gender{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .container3-gender1{
    border: 2px solid #000;
    border-radius: 43px;
    width: 169px;
    height: 64px;
    background-color: var(--color-white);
}

.container3-gender2{
    border: 2px solid #000;
    border-radius: 43px;
    width: 169px;
    height: 64px;
    background-color: var(--color-white);
} */

.container3-button{
    border-radius: 43px;
width: 271px;
height: 64px;
background-color: var(--color-orange);

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #fff;
margin:10px auto;
}

/* container4    profile*/

.container4{
    padding: 20px;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: var(--color-black);
position: relative;
top: 125px;
margin: 0 auto;
display: flex;
justify-content: start;
}

.container4-div1{
    width:  100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container4-div2{
    width:  100vh;
    height: 100vh;
}

.container4-infos{
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.container4-infos-column{
    display: flex;
    flex-direction: column;
}

.container4-info{
    border-radius: 19px;
width: 209px;
height: 165px;
margin: 25px;
background-color: var(--color-green);

font-family: var(--font-logo);
font-weight: 600;
font-size: 24px;
text-align: start;
padding: 25px;
color: var(--color-white);

}

.container4-avatar{
    margin: 0 auto;
    border-radius: 100%;
    width: 190px;
    height: 190px;
}

.conteiner4-button-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 36px;
color: var(--color-white);
}

.conteiner4-button{
    padding: 20px;
    border-radius: 19px;
width: 483px;
height: 263px;
background-color: var(--color-orange);
margin: 30px;
display: flex;
flex-direction: row;
}

.conteiner4-button-text{
    font-family: var(--font-logo);
font-weight: 400;
font-size: 15px;
line-height: 133%;
color: var(--color-white);


position: relative;
top: 120px;
}

.container4-button2-img2{
    position: relative;
    top: 42px;
}

/* container5    health*/

.container5{
    display: flex;
    justify-content: start;
}

.container5-div{
    padding-left: 100px;
    padding-top: 100px;
    width: 100vh;
    height: 100vh;
}

.container5-div-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 64px;
color: var(--color-white);
}

.container5-div-dialog{
    border-radius: 19px;
    padding: 12px;
width: 549px;
height: 100vh;
background-color: var(--color-white);
}

.container5-div-dialog-glav{
    font-family: var(--font-logo);
font-weight: 400;
font-size: 36px;
color: var(--color-black);

}

.container5-div-dialog-text{
    font-family: var(--font-logo);
font-weight: 400;
font-size: 16px;
color: var(--color-black);

}

.container5-div-dialog-img{
    position: absolute;
    bottom: 0px;
    left: 90px;
}


.container5-infos{
    padding: 100px;
    width: 120vh;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.container5-infos-column{
    display: flex;
    flex-direction: column;
}

.container5-info{
    padding: 10px;
    margin: 10px;
    border-radius: 19px;
width: 295px;
height: 317px;
background-color: var(--color-green);
}

.container5-info-glav{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 36px;
color: var(--color-black);

}

.container5-info-text{
    position: relative;
    top: 150px;
    font-family: var(--font-logo);
font-weight: 400;
font-size: 36px;
color: var(--color-black);

}

.container5-info-text2{
    position: relative;
    top: 150px;
    font-family: var(--font-famlily);
font-weight: 400;
font-size: 16px;
color: var(--color-black);
}


/* container6 med cart*/

.container6{
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: #fff;
display: flex;
justify-content: start;
padding: 10vh 0 0 0;
flex-direction: column;
padding: 50px;
}
.container6-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 64px;
line-height: 120%;
color: var(--color-green);

}

.container6-name{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 48px;
line-height: 160%;
color: var(--color-black);

}

.container6-info1{
    display: flex;
    flex-direction: row;
}

.container6-info1-info{
    border: 1px solid var(--color-green);
    text-align: center;
    background-color: var(--color-green);
border-radius: 100px;
width: 195px;
height: 53px;


font-family: var(--font-logo);
font-weight: 400;
font-size: 24px;
line-height: 321%;
color: var(--color-black);

}

.container6-info1-info span{
    position: relative;
    bottom: 10px;
}
.container6-info2-info{
    margin: 20px;
    border-radius: 28px;
width: 1196px;
height: 105px;
background-color: var(--color-orange);
font-family: var(--font-family);
font-weight: 400;
font-size: 32px;
line-height: 241%;
color: #222;
}


/*container7 forge password*/

.container7{
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: #fff;
display: flex;
justify-content: start;
flex-direction: column;
padding: 10vh 0 0 0;
}

.container7-glav{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 48px;
color: var(--color-black);
margin: 10px auto;

}

.container7-input{
    border: 2px solid var(--color-black);
border-radius: 43px;
width: 628px;
height: 74px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-black);
margin: 10px auto;

}

.container7-button{
    border-radius: 43px;
width: 337px;
height: 73px;
background-color: var(--color-orange);
margin: 10px auto;
padding-top: 20px;


font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
text-align: center;
color: var(--color-white);

}


/*container8 accaunt*/
.container8{
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: #fff;
display: flex;
justify-content: start;
flex-direction: column;
padding: 10vh 0 0 0;
}

.container8.{

}