@import 'color.css';
@import 'fonts.css';

:root{
    --font-logo: "Jost", sans-serif;
}
a{
    text-decoration: none;
}
button{
    border: none;
}

body{
    background: var(--color-black);
    overflow-y: hidden;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
}
.back-svg1{
    position: absolute;
    right: 0px;
    top: 0px;
}
.back-svg2{
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.header-logo-img{
    width: 49px;
    height: 49px;
    position: relative;
    bottom: 15px;
}
.header-logo-name{
    font-family: var(--font-logo);
    font-size: 48px;
}
header{
    padding: 25px;
    width: 100%;
    height: 128px;
    border-radius: 0 0 20px 20px;
    background-color: var(--color-white);
}

.header-button{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 16px;
color: var(--color-white);
background-color: var(--color-orange);
width: 152px;
height: 48px;
border-radius: 40px;
text-align: center;
padding: 10px;
margin-right: 44px;
}
.hb2{
    width: 209px;
}
.header-auto{
    position: relative;
    bottom: 60px;
    display: flex;
    justify-content: end;
}

.container-text{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 40px;
text-align: center;
color: #fff;
text-align: center;
margin-bottom: 40px;
}
.orange{
    color: var(--color-orange);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container-text-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 64px;
line-height: 114%;
text-align: center;
color: #fdfdfd;
text-align: center;
margin: auto;
width: 770px;
margin-bottom: 20px;
margin-top: 150px;
}

.container-button{
    border-radius: 43px;
width: 324px;
height: 95px;
background: var(--color-green);
text-align: center;
padding-top: 0px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #222;
}
.container-button-a{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.header-auto-download{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #222;

border-radius: 43px;
width: 281px;
height: 54px;
background-color: var(--color-green);
text-align: center;
padding-top: 10px;
}


/* register */

.container2{
    position: relative;
    top: 80px;
    margin: auto;
    border-radius: 55px;
width: 1320px;
height: 839px;
background-color: #fff;
display: flex;
justify-content: start;
padding: 10vh 0 0 0;
}

.container2-reg{
    padding: 28px;
    width: 100vh;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container2-reg-input{
    margin: 12px auto;
    border: 2px solid #000;
border-radius: 43px;
width: 428px;
height: 74px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #000;
}

.container2-reg-glav{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 48px;
color: #222;

}

.container2-reg-button{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
background-color: var(--color-orange);
border-radius: 43px;
width: 337px;
height: 74px;

text-align: center;
padding: 15px;
margin: 0 auto;


}

.container2-info{
    width: 80vh;
    height: 100vh;
    padding: 28px;
}

.container2-info-glav{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 55px;
color: #222;

}

.container2-info-text{
    font-family: var(--font-logo);
font-weight: 400;
font-size: 24px;
color: #000;
}

.container2-info-img{
    position: relative;
    bottom: 150px;
}

.green{
    color: var(--color-green);
}
.container2-reg-text-reg{
    font-family: var(--font-logo);
font-weight: 600;
font-size: 16px;
text-align: center;
color: #222;
}

/* container 3     blank*/

.container3{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 100px;
}

.container3-input{
    margin: 23px auto;
    border: 2px solid #000;
border-radius: 43px;
width: 567px;
height: 74px;

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #000;

}

.container3-gender{
    border: 2px solid #000;
border-radius: 0;
width: 169px;
height: 44px;
margin: 0 20px;
}
.container3-gender-text1{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
position: relative;
right: 90px;
}
.container3-gender-text2{
    font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: var(--color-white);
left: 90px;
position: relative;
}

.container3-div2-gender{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .container3-gender1{
    border: 2px solid #000;
    border-radius: 43px;
    width: 169px;
    height: 64px;
    background-color: var(--color-white);
}

.container3-gender2{
    border: 2px solid #000;
    border-radius: 43px;
    width: 169px;
    height: 64px;
    background-color: var(--color-white);
} */

.container3-button{
    border-radius: 43px;
width: 271px;
height: 64px;
background-color: var(--color-orange);

font-family: var(--font-logo);
font-weight: 500;
font-size: 24px;
color: #fff;
margin:10px auto;
}